<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBPath" value="C:\Users\arsen\source\repos\GraphPartition\GraphDB"/>
		<add key="NumOfVerts" value="200 2000 20000 30000"/>
		<add key="NumOfGraphs" value="10"/>
		<add key="ReductionToVertexes" value="20"/>
	</appSettings>
</configuration>