<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBPath" value="C:\Users\Глеб\source\repos\GraphPartition\GraphDB"/>
		<add key="NumOfVerts" value="10000 20000 50000"/>
		<add key="NumOfGraphs" value="100"/>
		<add key="ReductionToVertexes" value="30"/>
	</appSettings>
</configuration>